body{
    background-color: violet;
    font-family: sans-serif;
    color: white;
    font-size: larger;
}

b{
    color:rgb(194, 32, 235);
}

h2{
    color:rgb(109, 15, 109)
}

#image1{
    width: 250px;
}

#image2{
    width: 250px;
}